<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

<h1><%= movie.Title %></h1>

<p>year: <%= movie.Year %>, rated <%= movie.Rated %></p>

<p>Summary: <%= movie.Plot %></p>
